<!DOCTYPE HTML>
<html>
<head>
	<title>Admin Input</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/tags.css">
	<script type="text/javascript" src="/javascripts/jquery-1.4.1.js"></script>
	<script type="text/javascript" src="/javascripts/coldfusion.json.js"></script>
	<script type="text/javascript" src="/javascripts/phototagger.jquery.js"></script>
	<script type="text/javascript">

	//jQuery.fn.photoTagger.defaultOptions.isDelayed = true;
		
		// When the DOM is ready, initialize the scripts.
		
		jQuery(function( $ ){ 
			
			// Set up the photo tagger.
			$( "div.photo-container" ).photoTagger({
				
				// The API urls.
				loadURL: "./load_tags.cfm",
				saveURL: "./save_tag.cfm",
				deleteURL: "./delete_tag.cfm", 
				
				// Default to turned on.
				// isTagCreationEnabled: false,
				
				// This will allow us to clean the response from 
				// a ColdFusion server (it will convert the 
				// uppercase keys to lowercase keys expected by
				// the photoTagger plugin.
				//cleanAJAXResponse: cleanColdFusionJSONResponse
			});
		// Hook up the enable create links.
		$( "button.enable-create" ).click(
			function( event ){
				// Prevent relocation.
				event.preventDefault();
				
				// Get the container and enable the tag 
				// creation on it.
				$( this ).prevAll( "div.photo-container" )
					.photoTagger( "enableTagCreation" )
				;
			}
		);
		
		
		// Hook up the disabled create links.
		$( "button.disable-create" ).click(
			function( event ){
				// Prevent relocation.
				event.preventDefault();
				
				// Get the container and enable the tag 
				// creation on it.
				$( this ).prevAll( "div.photo-container" )
					.photoTagger( "disableTagCreation" )
				;
			}
		);

		
		$( "button.enable-delete" ).click(
				function( event ){
					// Prevent relocation.
					event.preventDefault();
					
					// Get the container and enable the tag 
					// deletion on it.
					$( this ).prevAll( "div.photo-container" )
						.photoTagger( "enableTagDeletion" )
					;
				}
			);
			
			
			// Hook up the disabled delete links.
			$( "button.disable-delete" ).click(
				function( event ){
					// Prevent relocation.
					event.preventDefault();
					
					// Get the container and disabled the tag 
					// deletion on it.
					$( this ).prevAll( "div.photo-container" )
						.photoTagger( "disableTagDeletion" )
					;
				}
			);


		
		$( "button.upload" ).click(
		function( event ){
			sessionStorage.clear();
			var photoID = $("img").id;
			sessionStorage.setItem('current picture',photoID);
			//console.log(sessionStorage.getItem(photoID));
		});

		$( "button.submit" ).click(
		function( event ){
			var picture = sessionStorage.getItem('current picture');
			sessionStorage.removeItem('current picture');
			//var returnItem = picture + ":" + sessionStorage;
			console.log(sessionStorage);
		});


		}
		);
		
	</script>
</head>
<body>

	<h1>
		Admin Input
	</h1>

	<p>
		Click and drag to create a tag. <br>
		Double click to delete it.
	</p>

	
	<div class="photo-column">
	
		<div class="photo-container">
			<img 
				id="photo3" 
				src="/images/DSC_0894.JPG" 
				width="780"
				height="520.5"
				/>
		</div>
	
	</div>

	<div id="upload">
		<button type="button" class="choose">Choose File</button>
		<button type="button" class="upload">Upload</button>
		<br>
	</div>

	<div id="enabledisable" style="font-family:monospace">

	<!-- These will toggle the tag ceation. 
		<button type="button" class="enable-create">Enable Create</button>
		<button type="button" class="disable-create">Disable Create</button>
		<br>
		These will toggle the tag deletiong. 
		<button type="button" class="enable-delete">Enable Delete</button>
		<button type="button" class="disable-delete">Disable Delete</button>
	-->
	</div>

	<div id = "button">
		<button type="button" class="submit">Submit Picture</button>
	</div>

	<div id="existingtags" style="font-family:monospace">
		Existing tags: 	
	</div>
	
</body>
</html>
