<!DOCTYPE HTML>
<html>
<head>
	<title>Quiz Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/tags.css">
	<script type="text/javascript" src="/javascripts/jquery-1.4.1.js"></script>
	<script type="text/javascript" src="/javascripts/coldfusion.json.js"></script>
	<script type="text/javascript" src="/javascripts/phototagger.jquery.js"></script>
</head>
<body>
	<h1> Quiz <h1>

	<div id="photo">
		<img 
			id="photo3" 
			src="/images/DSC_0894.JPG" 
			width="780"
			height="520.5"/>
	</div>

	<div id="caption">
	this is a picture woooo
	</div>
</body>
</html>
